
.layout_about_us{
	clear: left;
	height: 90%;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	padding: 0;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	/*background-color: #DCEDF9;*/
}

.mail_content{
	color: black;
	font-size: 20px;
	padding-left: 6%;
	padding-top: 4%;
	color: grey;
}

.start{
	float: left;
	margin-left: 10%;
	height: 80%;
	width: 80%;
	background-color: white;
}

.start_content{
	float: left;
}

.our_team{
	clear: left;
	height: 90%;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	padding: 0;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	background-color: #DCEDF9;
}

.members{
	margin-top: 5%;
	margin-left: 8%;
	height: 100%;
	width: 100%;
}

.tushar{
	float: left;
	height: 50%;
	width: 25%;
	background-color: lightgrey;
}

.aman{
	float: left;
	margin-left: 5%;
	height: 50%;
	width: 25%;
	background-color: white;
}

.krishna{
	float: left;
	margin-left: 5%;
	height: 50%;
	width: 25%;
	background-color: white;
}