
.lowbox{
	position: relative;
	display: block;
	z-index: 1;
}

#highbox{
	height: 80%;
	width: 80%;
	position:absolute;
	z-index: 2;
	display:block;
	margin-left: 10%;
	margin-top: -60%;
	margin-right: 20%;
	background-color: rgba(0,0,0,0.6);
}

#i1{
	height: 200%;
	width: 200%;
	margin-top: 20%;
	position: absolute;
	display: none;
}

#i2{
	height: 40%;
	width: 40%;
	margin-top: 5%;
	margin-left: 15%;
	margin-right: 30%;
	position: absolute;
	display: none;
}

#i3{
	height: 40%;
	width: 40%;
	margin-top: 5%;
	margin-left: 15%;
	margin-right: 30%;
	position: absolute;
	display: none;
}

#i4{
	height: 40%;
	width: 40%;
	margin-top: 5%;
	margin-left: 15%;
	margin-right: 30%;
	position: absolute;
	display: none;
}

#i5{
	height: 40%;
	width: 40%;
	margin-top: 5%;
	margin-left: 15%;
	margin-right: 30%;
	position: absolute;
	display: none;
}

#i6{
	height: 200%;
	width: 200%;
	margin-top: 20%;
	position: absolute;
	display: none;
}

#i7{
	height: 40%;
	width: 40%;
	margin-top: 5%;
	margin-left: 15%;
	margin-right: 30%;
	position: absolute;
	display: none;
}

#i8{
	height: 40%;
	width: 40%;
	margin-top: 5%;
	margin-left: 15%;
	margin-right: 30%;
	position: absolute;
	display: none;
}

#i9{
	height: 200%;
	width: 200%;
	margin-top: 20%;
	position: absolute;
	display: none;
}

#i10{
	height: 40%;
	width: 40%;
	margin-top: 5%;
	margin-left: 15%;
	margin-right: 30%;
	position: absolute;
	display: none;
}

#i11{
	height: 40%;
	width: 40%;
	margin-top: 5%;
	margin-left: 15%;
	margin-right: 30%;
	position: absolute;
	display: none;
}

#i12{
	height: 40%;
	width: 40%;
	margin-top: 5%;
	margin-left: 15%;
	margin-right: 30%;
	position: absolute;
	display: none;
}

#i13{
	height: 40%;
	width: 40%;
	margin-top: 5%;
	margin-left: 15%;
	margin-right: 30%;
	position: absolute;
	display: none;
}
